body {
  font-family: "Courier New";
  font-size: 16px;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.home-link {
  font-size: 16px;
  font-weight: bolder;
}
