.modal-container {
  font-family: 'SF Mono';
  background-color: #2d2d2d;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.modal {
  background-color: #969696;
  animation-duration: 300ms;
  animation-timing-function: ease;
  animation-name: slidein;
  position: absolute;
  display: flex;
  padding: 1em;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  top: 30vh;
  height: 40vh;
  width: 40vw;
  margin: 0 auto;
  border: 1px solid #ffffff;
  border-radius: 0.3em;
}

@keyframes slidein {
  from {
    top: 120vh;
  }
}

button {
  border: 1px solid #ffffff;
  align-self: center;
  border-radius: 0.3em;
  font-size: 1em;
  color: #ffffff;
  cursor: pointer;
  font-family: 'SF Mono';
  background: #2d2d2d;
  transition: background 300ms;
}

button:focus {
  outline: none;
}

button:hover {
  transition: background 200ms;
  background: #454545;
}
